* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);
}

main > .max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
}

header > .max-width-wrapper {
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  background-color: white;
  padding-bottom: 32;
  margin-bottom: 32;
  width: 100%;
}

h1,
h2 {
  padding-top: 64px;
  margin-bottom: 32px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.intro-chunk,
.card {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.intro-chunk > p {
  width: 50%;
  font-weight: 400;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background-color: white;
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  padding: 12px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  width: max-content;
  margin-left: -24px;
  padding: 12 24px;
}

/* Add styles here! */
